flows NodeRed mi cuarto.json
[{"id":"b77b6bc2.1217a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7a1ab60.82f1d4c","type":"ui_gauge","z":"b77b6bc2.1217a8","name":"","group":"d4d48a42.bba638","order":2,"width":0,"height":0,"gtype":"wave","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":220,"wires":[]},{"id":"84ba0224.3d976","type":"ui_chart","z":"b77b6bc2.1217a8","name":"","group":"d4d48a42.bba638","order":4,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":690.996542930603,"y":260.2048797607422,"wires":[[]]},{"id":"60f47dc8.7e35a4","type":"mqtt in","z":"b77b6bc2.1217a8","name":"","topic":"/humedad","qos":"2","datatype":"auto","broker":"192d171f.23b379","x":101.99652099609375,"y":218.24652099609375,"wires":[["7a1ab60.82f1d4c"]]},{"id":"63844910.310558","type":"mqtt in","z":"b77b6bc2.1217a8","name":"","topic":"/temperatura","qos":"2","datatype":"auto","broker":"192d171f.23b379","x":109.01040649414062,"y":259.2361145019531,"wires":[["84ba0224.3d976","50981579.4a803c"]]},{"id":"d02e77a6.ec5718","type":"mqtt out","z":"b77b6bc2.1217a8","name":"","topic":"/rele2","qos":"","retain":"","broker":"192d171f.23b379","x":670,"y":100,"wires":[]},{"id":"62907da3.11a554","type":"mqtt in","z":"b77b6bc2.1217a8","name":"","topic":"/luz","qos":"2","datatype":"auto","broker":"192d171f.23b379","x":78,"y":98,"wires":[["3d55eb3e.bb9d04"]]},{"id":"b3ae1402.6ce068","type":"ui_button","z":"b77b6bc2.1217a8","name":"on/off","group":"3a9e7def.946e12","order":2,"width":"0","height":"0","passthru":false,"label":"{{msg.topic}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"mi-power_settings_new","payload":"5","payloadType":"num","topic":"","x":468,"y":37,"wires":[["a4f63550.c66e48"]]},{"id":"bab5dad7.5d01a8","type":"function","z":"b77b6bc2.1217a8","name":"determineButtonState","func":"var payload=msg.payload\nvar label;\nvar color;\n\nif(payload == \"on\"){\n label = \"Luz ON\";\n color = \"green\";\n}\nelse{\n label = \"Luz OFF\";\n color = \"red\";\n}\nmsg = {enabled:true, topic:label, background:color};\nreturn msg;","outputs":1,"noerr":0,"x":279,"y":37,"wires":[["b3ae1402.6ce068"]]},{"id":"125d7037.7b171","type":"mqtt in","z":"b77b6bc2.1217a8","name":"","topic":"/PIR","qos":"2","datatype":"auto","broker":"192d171f.23b379","x":90,"y":340,"wires":[["f4e9550.3d891a8"]]},{"id":"f4e9550.3d891a8","type":"function","z":"b77b6bc2.1217a8","name":"determineButtonState","func":"var payload=msg.payload\nvar label;\nvar color;\n\nif(payload == \"1\"){\n msg.payload = \"Se detectó movimiento\"\n}\nelse{\n msg.payload = \"Todo Fine\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":340,"wires":[["38d143e.3a727bc"]]},{"id":"38d143e.3a727bc","type":"ui_text","z":"b77b6bc2.1217a8","group":"d4d48a42.bba638","order":1,"width":0,"height":0,"name":"","label":"PIR","format":"{{msg.payload}}","layout":"row-spread","x":635,"y":340,"wires":[],"l":false},{"id":"a4f63550.c66e48","type":"mqtt out","z":"b77b6bc2.1217a8","name":"","topic":"/rele1","qos":"","retain":"","broker":"192d171f.23b379","x":670,"y":40,"wires":[]},{"id":"7229c7ab.3340d8","type":"mqtt in","z":"b77b6bc2.1217a8","name":"","topic":"/ventilador","qos":"2","datatype":"auto","broker":"192d171f.23b379","x":82,"y":36,"wires":[["bab5dad7.5d01a8"]]},{"id":"d180040e.edbaf8","type":"ui_button","z":"b77b6bc2.1217a8","name":"on/off","group":"3a9e7def.946e12","order":3,"width":"0","height":"0","passthru":false,"label":"{{msg.topic}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"mi-power_settings_new","payload":"5","payloadType":"num","topic":"","x":464,"y":99,"wires":[["d02e77a6.ec5718"]]},{"id":"3d55eb3e.bb9d04","type":"function","z":"b77b6bc2.1217a8","name":"determineButtonState","func":"var payload=msg.payload\nvar label;\nvar color;\n\nif(payload == \"on\"){\n label = \"Ventilador ON\";\n color = \"green\";\n}\nelse{\n label = \"Ventilador OFF\";\n color = \"red\";\n}\nmsg = {enabled:true, topic:label, background:color};\nreturn msg;","outputs":1,"noerr":0,"x":275,"y":99,"wires":[["d180040e.edbaf8"]]},{"id":"50981579.4a803c","type":"ui_gauge","z":"b77b6bc2.1217a8","name":"","group":"d4d48a42.bba638","order":3,"width":0,"height":0,"gtype":"gage","title":"temperatura","label":"°C","format":"{{value}}","min":"10","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":300,"wires":[]},{"id":"3e2552a8.930ece","type":"mqtt out","z":"b77b6bc2.1217a8","name":"","topic":"/aire","qos":"","retain":"","broker":"192d171f.23b379","x":670,"y":400,"wires":[]},{"id":"d380ef7a.a7bef","type":"ui_button","z":"b77b6bc2.1217a8","name":"on/off","group":"3a9e7def.946e12","order":4,"width":"0","height":"0","passthru":false,"label":"{{msg.topic}}","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"mi-power_settings_new","payload":"5","payloadType":"num","topic":"","x":470,"y":400,"wires":[["3e2552a8.930ece"]]},{"id":"185ddc.7b156225","type":"function","z":"b77b6bc2.1217a8","name":"determineButtonState","func":"var payload=msg.payload\nvar label;\nvar color;\n\nif(payload == \"on\"){\n label = \"aire ON\";\n color = \"green\";\n}\nelse{\n label = \"aire OFF\";\n color = \"red\";\n}\nmsg = {enabled:true, topic:label, background:color};\nreturn msg;","outputs":1,"noerr":0,"x":281,"y":400,"wires":[["d380ef7a.a7bef"]]},{"id":"9f868298.9d2d6","type":"mqtt in","z":"b77b6bc2.1217a8","name":"","topic":"/aire","qos":"2","datatype":"auto","broker":"192d171f.23b379","x":90,"y":400,"wires":[["185ddc.7b156225"]]},{"id":"14e6e517.dc048b","type":"ui_switch","z":"b77b6bc2.1217a8","name":"","label":"Luz automática","tooltip":"","group":"3a9e7def.946e12","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":160,"wires":[["9f461c28.ad36"]]},{"id":"9f461c28.ad36","type":"mqtt out","z":"b77b6bc2.1217a8","name":"","topic":"/luzauto","qos":"","retain":"","broker":"192d171f.23b379","x":680,"y":160,"wires":[]},{"id":"dc8846ae.756c78","type":"mqtt out","z":"b77b6bc2.1217a8","name":"","topic":"/tvon","qos":"","retain":"","broker":"192d171f.23b379","x":670,"y":460,"wires":[]},{"id":"78092278.16a91c","type":"ui_button","z":"b77b6bc2.1217a8","name":"on/off","group":"3a9e7def.946e12","order":5,"width":"0","height":"0","passthru":false,"label":"TV on/off","tooltip":"","color":"","bgcolor":"","icon":"mi-power_settings_new","payload":"5","payloadType":"num","topic":"","x":470,"y":460,"wires":[["dc8846ae.756c78"]]},{"id":"c2c02d45.c7f56","type":"ui_slider","z":"b77b6bc2.1217a8","name":"","label":"Temperatura de Aire","tooltip":"","group":"3a9e7def.946e12","order":7,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"18","max":"27","step":1,"x":134.5,"y":525,"wires":[["89c7357c.3f5598"]]},{"id":"739a6eef.118eb","type":"ui_button","z":"b77b6bc2.1217a8","name":"","group":"af06bff5.2dca6","order":2,"width":"2","height":"1","passthru":false,"label":"ON","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":100.5,"y":631,"wires":[["88f77f63.f960b"]]},{"id":"89c7357c.3f5598","type":"mqtt out","z":"b77b6bc2.1217a8","name":"","topic":"/tempAire","qos":"","retain":"","broker":"192d171f.23b379","x":681.5,"y":523,"wires":[]},{"id":"88f77f63.f960b","type":"mqtt out","z":"b77b6bc2.1217a8","name":"","topic":"/colorLED","qos":"","retain":"","broker":"192d171f.23b379","x":677.5,"y":763,"wires":[]},{"id":"23434bea.ded4e4","type":"ui_button","z":"b77b6bc2.1217a8","name":"","group":"af06bff5.2dca6","order":1,"width":"2","height":"1","passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"grey","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":101,"y":595,"wires":[["88f77f63.f960b"]]},{"id":"5aae2171.31daf","type":"ui_button","z":"b77b6bc2.1217a8","name":"","group":"af06bff5.2dca6","order":3,"width":"2","height":"1","passthru":false,"label":"Rojo","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"2","payloadType":"num","topic":"topic","topicType":"msg","x":96,"y":671,"wires":[["88f77f63.f960b"]]},{"id":"78fc7cd2.9e25d4","type":"ui_button","z":"b77b6bc2.1217a8","name":"","group":"af06bff5.2dca6","order":5,"width":"2","height":"1","passthru":false,"label":"Azul","tooltip":"","color":"","bgcolor":"blue","icon":"","payload":"3","payloadType":"num","topic":"topic","topicType":"msg","x":95,"y":707,"wires":[["88f77f63.f960b"]]},{"id":"a9e23334.e5426","type":"ui_button","z":"b77b6bc2.1217a8","name":"","group":"af06bff5.2dca6","order":6,"width":"2","height":"1","passthru":false,"label":"Blanco","tooltip":"","color":"black","bgcolor":"white","icon":"","payload":"4","payloadType":"num","topic":"topic","topicType":"msg","x":97,"y":745,"wires":[["88f77f63.f960b"]]},{"id":"8d2c72b8.d77f8","type":"ui_button","z":"b77b6bc2.1217a8","name":"","group":"af06bff5.2dca6","order":7,"width":"2","height":"1","passthru":false,"label":"Magenta","tooltip":"","color":"","bgcolor":"magenta","icon":"","payload":"5","payloadType":"num","topic":"topic","topicType":"msg","x":106,"y":784,"wires":[["88f77f63.f960b"]]},{"id":"2066e80a.311098","type":"ui_button","z":"b77b6bc2.1217a8","name":"","group":"af06bff5.2dca6","order":8,"width":"2","height":"1","passthru":false,"label":"Azulado","tooltip":"","color":"","bgcolor":"cyan","icon":"","payload":"6","payloadType":"num","topic":"topic","topicType":"msg","x":103,"y":822,"wires":[["88f77f63.f960b"]]},{"id":"b7903835.fe5818","type":"ui_button","z":"b77b6bc2.1217a8","name":"","group":"af06bff5.2dca6","order":9,"width":"2","height":"1","passthru":false,"label":"Rosa","tooltip":"","color":"","bgcolor":"pink","icon":"","payload":"7","payloadType":"num","topic":"topic","topicType":"msg","x":92,"y":861,"wires":[["88f77f63.f960b"]]},{"id":"ee2939f4.5c4fa8","type":"ui_button","z":"b77b6bc2.1217a8","name":"","group":"af06bff5.2dca6","order":10,"width":"3","height":"1","passthru":false,"label":"Dim DOWN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"8","payloadType":"num","topic":"topic","topicType":"msg","x":112,"y":898,"wires":[["88f77f63.f960b"]]},{"id":"77702757.fd5aa8","type":"ui_button","z":"b77b6bc2.1217a8","name":"","group":"af06bff5.2dca6","order":11,"width":"3","height":"1","passthru":false,"label":"Dim UP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"9","payloadType":"num","topic":"topic","topicType":"msg","x":99,"y":937,"wires":[["88f77f63.f960b"]]},{"id":"d4d48a42.bba638","type":"ui_group","z":"","name":"Sensores","tab":"92facb63.0065b8","order":1,"disp":true,"width":"6"},{"id":"192d171f.23b379","type":"mqtt-broker","z":"","name":"raspi","broker":"192.168.1.109","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3a9e7def.946e12","type":"ui_group","z":"","name":"Control","tab":"92facb63.0065b8","order":2,"disp":true,"width":"6"},{"id":"af06bff5.2dca6","type":"ui_group","z":"","name":"Luz LED","tab":"92facb63.0065b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"92facb63.0065b8","type":"ui_tab","z":"","name":"Test inicial","icon":"dashboard","order":1,"disabled":false,"hidden":false}]